In [2]:
import pandas as pd

In [4]:
dataset = pd.read_csv("insurance_pre.csv")

In [5]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
Independent = dataset [['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent = dataset [['charges']]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(Independent,dependent,train_size=0.70,random_state=0)

In [30]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor(n_estimators=10000, random_state=0)
RF.fit(x_train,y_train)

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(n_estimators=10000, random_state=0)

In [31]:
y_pred = RF.predict(x_test)

In [40]:
from sklearn.metrics import r2_score
Result = r2_score (y_pred,y_test)
Result

0.8479682914162952

In [41]:
import pickle 
pickle.dump(RF,open("Finalized_RF_Reg_model.sav",'wb'))

In [43]:
result1 = pickle.load(open("Finalized_RF_Reg_model.sav",'rb'))
Final_result = result1.predict([[62,29.070, 0,0,1]])
Final_result

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

array([28449.18417535])